doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Node While You Chat

    meta(name="description", content="Hello World")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body
    .header 
      h1 Node While you Chat - ChatRoom
    .wrapper

      input.userNameImput#theFieldID
      button.setName User Name

      div.avatars
        label
          input.radio(type="radio" name="face1" value="small")
          img(src="assets/images/face1.png")
          input.radio(type="radio" name="face2" value="small")
          img(src="assets/images/face2.png")
          input.radio(type="radio" name="face3" value="small")
          img(src="assets/images/face3.png")
          input.radio(type="radio" name="face4" value="small")
          img(src="assets/images/face4.png")

      div.messages

      .input
        input.textMessage(id="msg", type="text", name="msg")

        a.sendButton(href="#") Send a Message

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

    script(type="text/javascript", src="assets/scripts/main.js")
    //not working to keep status active on username input  
    script(type="text/javascript") document.theFieldID.focus() script 
